<div class="container">
  <h1>{{blog.header}}</h1>
  <hr>
  <div class="mini-container">

    <p>Здравствуйте мои бессмысленные читатели. Сегодня Аркадий подошёл ко мне с просьбой о рекомендации книги Николаю Петровичу Кирсанову. Я сразу же припомнил книгу, которую недавно дочел, и счет ее подходящей, чтобы порекомендовать Николаю Петровичу:</p>
    <p><i> -- Что бы ему дать? -- спросил Аркадий.<br>-- Да, я думаю, Бюхнерово "Stoff und Kraft" на первый случай.</i></p>
    <p>Но видимо напрасно я утруждался, так как староверское представление о мире Николая Петрович не позволяет ему понять это произведение:</p>
    <p><i>-- Гм! -- промычал он. -- Аркадий Николаевич заботится о твоем воспитании. Что ж, ты пробовал читать?<br>-- Пробовал.<br>-- Ну и что же?<br>-- Либо я глуп, либо это все -- вздор. Должно быть, я глуп.</i></p>
    <p>Но если Вам, мои читатели, не под силу такой вызов для ума и интеллекта я крайне рекомендую Вам прочесть эту книгу. "Stoff und Kraft" - книга немецкого физика Людвига Бюхнера, где он в форме кратких эссе, приводя цитаты и развивая тезисы, Л. Бюхнер рассуждает о таких свойствах и понятиях, как неуничтожимость материи, неизменность и общность законов природы, человек с его душой и мозгом, идея Бога.</p>
    <p>Это книга про новое и не походит для умов, не способных принять новые идеи и идеологии общества, поэтому и не подошла, и, наверное, не подойдёт никому из "старичков Кирсановых".</p>
    <p>Так что если Вам придет мысль найти себе книгу, чтобы прочесть, очень советую.</p>

    <p style="float: right; text-align: end;">{{blog.date}}<br>{{blog.author}}</p>
  </div>
</div>
