<div class="container">
  <h1>{{blog.header}}</h1>
  <hr>
  <div class="mini-container">
    <p>Уважаемые читатели,</p>
    <p>В пучине жизни, где переплетаются нити событий, личностей и понятий, понятие красоты возникает как субъективная нить, окрашенная в различные оттенки индивидуальным восприятием. Так что позвольте мне, Павлу Петровичу Кирсанову, рассказать Вам о моём восприятии философского смысла такого понятия, как "красота".</p>
    <p>В условиях нашей русской земли, которую мы можем наблюдать каждый день своими глазами, раскол между поколениями - между jeunes énergiques и personne âgée sénile - выступает в качестве линзы, через которую мы можем обозревать эту философию.</p>
    <p><i>--Рафаэль гроша медного не стоит<br>--Помилуй! в сорок четыре года человек, pater familias, -- играет на виолончели<br>--Не предполагаете во мне художественного смысла, -- да, во мне действительно его нет;</i><br>Все эти высказывания друга моего дорогого сына, Базарова, показывают, что он воспринимает красоту совсем по иному.</p>
    <p>Представьте себе зеленеющие усадьбы, бескрайние просторы наших российских ландшафтов; для меня они дышат неземной красотой, уходящей корнями в порядок, традиции, благородное изящество ушедшей эпохи. Представьте сладкую музыку рояля, роскошные мелодии, утонченный контуры портретов на стенах, изысканный язык красноречивой беседы - вот те маяки, которые освещаю мир моей красоты.</p>
    <p>Но для молодых нигилистов, примером которых является пылкий Базаров, подобные формы и образцы красоты оказываются ничтожными. Они видят красоту в грубых тисках полезности, в вязкой хватке истины, не украшенной атрибутами сентиментальности и условности. <i>"Природа - не храм, а мастерская, и человек в ней работник"</i>,- заявляет Базаров, олицетворяя стремление нового поколения к красоте в механическом импульсе прогресса.</p>
    <p>Так, в разнообразных взглядах созерцателей, красота различается и течет, подобно водам Волги, текущим по изрезанной земле нашей матушки-России. То, что вызывает во мне мелодичную гармонию, в ушах молодого Базарова звучит как диссонанс. То, что он считаем красотой, отбрасывает смуглую тень на мое сердце.</p>
    <p>В конце концов, можно и нужно уловить одну единственную истину, красота - понятие изменчивое, по сути, ее лепит взгляд смотрящего.</p>
    <p>Поэтому, завершая все эти размышление, дорогой читатель, я Павел Петрович Кирсанов, наученный на своем собственном горьком опыте, после проигранной дуэли с молодым нигилистом, хочу сказать, что красота - понятие субъективное и не надо воспринимать чужую красоту, как что-либо отвратительное, у каждого она своя. Просто стоит уважать чужое мнение о красоте, и, если и дискутировать на эту тему, так с полным уважением к вашему оппоненту.</p>
    <p>Так что, дорогие читатели, Вам, крайне рекомендую пробовать различные линзы при рассмотрении понятия "красоты", чтобы не повторить мои ошибки, зацикливаясь на старом и, не принимая чужие варианты на эту позицию.</p>

    <p style="float: right; text-align: end; margin-top: 20px;">{{blog.date}}<br>{{blog.author}}</p>
  </div>

  <div class="right-mini-conatainer">
    <img src="assets/blogs/blog2/img.png">
    <img src="assets/blogs/blog2/img_1.png">
  </div>
</div>
