<div class="container">
  <h1>{{blog.header}}</h1>
  <hr>
  <div class="mini-container">
    <p>Приветствую Вас, мои уважаемые читатели! Сегодня я хочу написать и поделиться своими мыслями об литературе и искусстве, который вспоминались в моём присутствии за недавнее время.</p>
    <p>Начнем с искусства, ха! Его даже можно не долго рассматривать, искусство существует только для наживания денег. Искусство в отличие от науки временное явления, наука будет вечна, так как на одних принципах строятся другие, а затем и третьи, искусство же не развивает ничего более человеческого отношения к нему же.</p>
    <p><i>-- Вот как, -- промолвил Павел Петрович и, словно засыпая, чуть-чуть приподнял брови. -- Вы, стало быть, искусства не признаете?<br>-- Искусство наживать деньги, или нет более геморроя! -- воскликнул Базаров с презрительною усмешкой.</i></p>
    <p><i>-- Все?<br>-- Все.<br>-- Как? Не только искусство, поэзию... но и... страшно вымолвить...<br>-- Все, -- с невыразимым спокойствием повторил Базаров.</i></p>
    <p>Имел дискуссию с Павлом Петровичем на эту тему, оба этих "старичка Кирсанова" не могут понять, что искусство есть ничто и, что оно бесполезно. Да, что говорить об искусстве, они даже не могут нормальную литературу выбрать, читают таких, как Пушкин. Ерунда это всё!</p>
    <p><i>-- Третьего дня, я смотрю, он Пушкина читает, -- продолжал между тем Базаров. -- Растолкуй ему, пожалуйста, что это никуда не годится. Ведь он не мальчик: пора бросить эту ерунду.</i></p>
    <p>В общем, дорогие друзья, Вам я не советую быть такими же, для меня литература - это что-то полезное для развития: философия, химия, может быть биология, но никак не Пушкин. Вам, друзья, могу посоветовать прочесть "Stoff und Kraft" или же "Взаимоотношения общественных классов" Фридриха Энгельса, эти книги вызывают размышления, стимулируют мысль и открывают новые горизонты познания.</p>


    <p style="float: right; text-align: end; margin-top: 20px;">{{blog.date}}<br>{{blog.author}}</p>
  </div>
</div>
